/* CSS HEX */
--prussian-blue: #1e2d43ff;
--maximum-red: #d23b2cff;
--sapphire-blue: #246598ff;
--ocean-green: #5abe9fff;
--fuzzy-wuzzy: #cb655cff;
--taupe-gray: #968c90ff;
--corn: #f6ed70ff;
--platinum: #eceaeaff;

/* CSS HSL */
--prussian-blue: hsla(216, 38%, 19%, 1);
--maximum-red: hsla(5, 65%, 50%, 1);
--sapphire-blue: hsla(206, 62%, 37%, 1);
--ocean-green: hsla(161, 43%, 55%, 1);
--fuzzy-wuzzy: hsla(5, 52%, 58%, 1);
--taupe-gray: hsla(336, 5%, 57%, 1);
--corn: hsla(56, 88%, 70%, 1);
--platinum: hsla(0, 5%, 92%, 1);

/* SCSS HEX */
$prussian-blue: #1e2d43ff;
$maximum-red: #d23b2cff;
$sapphire-blue: #246598ff;
$ocean-green: #5abe9fff;
$fuzzy-wuzzy: #cb655cff;
$taupe-gray: #968c90ff;
$corn: #f6ed70ff;
$platinum: #eceaeaff;

/* SCSS HSL */
$prussian-blue: hsla(216, 38%, 19%, 1);
$maximum-red: hsla(5, 65%, 50%, 1);
$sapphire-blue: hsla(206, 62%, 37%, 1);
$ocean-green: hsla(161, 43%, 55%, 1);
$fuzzy-wuzzy: hsla(5, 52%, 58%, 1);
$taupe-gray: hsla(336, 5%, 57%, 1);
$corn: hsla(56, 88%, 70%, 1);
$platinum: hsla(0, 5%, 92%, 1);

/* SCSS RGB */
$prussian-blue: rgba(30, 45, 67, 1);
$maximum-red: rgba(210, 59, 44, 1);
$sapphire-blue: rgba(36, 101, 152, 1);
$ocean-green: rgba(90, 190, 159, 1);
$fuzzy-wuzzy: rgba(203, 101, 92, 1);
$taupe-gray: rgba(150, 140, 144, 1);
$corn: rgba(246, 237, 112, 1);
$platinum: rgba(236, 234, 234, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1e2d43ff, #d23b2cff, #246598ff, #5abe9fff, #cb655cff, #968c90ff, #f6ed70ff, #eceaeaff);
$gradient-right: linear-gradient(90deg, #1e2d43ff, #d23b2cff, #246598ff, #5abe9fff, #cb655cff, #968c90ff, #f6ed70ff, #eceaeaff);
$gradient-bottom: linear-gradient(180deg, #1e2d43ff, #d23b2cff, #246598ff, #5abe9fff, #cb655cff, #968c90ff, #f6ed70ff, #eceaeaff);
$gradient-left: linear-gradient(270deg, #1e2d43ff, #d23b2cff, #246598ff, #5abe9fff, #cb655cff, #968c90ff, #f6ed70ff, #eceaeaff);
$gradient-top-right: linear-gradient(45deg, #1e2d43ff, #d23b2cff, #246598ff, #5abe9fff, #cb655cff, #968c90ff, #f6ed70ff, #eceaeaff);
$gradient-bottom-right: linear-gradient(135deg, #1e2d43ff, #d23b2cff, #246598ff, #5abe9fff, #cb655cff, #968c90ff, #f6ed70ff, #eceaeaff);
$gradient-top-left: linear-gradient(225deg, #1e2d43ff, #d23b2cff, #246598ff, #5abe9fff, #cb655cff, #968c90ff, #f6ed70ff, #eceaeaff);
$gradient-bottom-left: linear-gradient(315deg, #1e2d43ff, #d23b2cff, #246598ff, #5abe9fff, #cb655cff, #968c90ff, #f6ed70ff, #eceaeaff);
$gradient-radial: radial-gradient(#1e2d43ff, #d23b2cff, #246598ff, #5abe9fff, #cb655cff, #968c90ff, #f6ed70ff, #eceaeaff);
